@font-face {
    font-family: hand-drawn;
    src: url(Delicious_Handrawn/DeliciousHandrawn-Regular.ttf);
}

body {
    --bannerwidth: 38vw;
    
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.bannerimg {
    height: 100vh;
    width: var(--bannerwidth);
}

.odinlogo {
    --dimensions: 100px;

    width: var(--dimensions);
    height: var(--dimensions);
}

.grey, .grey > a {
    color: rgb(180, 173, 173);
}

.banner > p {
    font-size: 12px; 
    position: absolute;
}

.banner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bannericon p {
    font-family: hand-drawn;
    font-size: 3em;
    color: white;
}

.bannericon {
    position: absolute;
    background: rgb(0, 0, 0, .5);
    width: var(--bannerwidth);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0px 12px;
    box-sizing: border-box;
    top: 25vh;
    letter-spacing: 3px;
    height: 150px
}

.sign-in > a {
    color: #596D48;
}