@font-face {
    font-family: hand-drawn;
    src: url(Delicious_Handrawn/DeliciousHandrawn-Regular.ttf);
}

.grey, .grey > a {
    /* color: rgb(180, 173, 173); */
    color: #39FF14;
}

body {
    --mainpadding: 4vw;

    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

.banner > p {
    font-size: 13px; 
    position: absolute;
}

.banner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 2;
    min-width: 35vw;
    background: url(ernest-malimon-hzfDBCp5d-w-unsplash.jpg) no-repeat center;
    background-size: 100% 100%;
}

.bannericon p {
    font-family: hand-drawn;
    font-size: calc(3em + 2vw);
    color: white;
}

.bannericon {
    flex-grow: 1;
    position: relative;
    background: rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    padding: 0px 12px;
    letter-spacing: 3px;
    height: 225px;
    margin: 100px 0px;
    /* bottom: 10vh; */

}

.odinlogo {
    width: clamp(125px, 15vw, 150px);
    height: auto;
}

.sign-in > a {
    color: #596D48;
}

input:focus {
    box-shadow: 2px 2px 4px grey;
    border: 2px solid blue;
}

label > input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    height: 20px;

}

label {
    font-size: 12px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 1vh 0;
    color: #313232;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

form > div > div {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    gap: 4px;
    margin: 4px 0px;
}

form > div > div > div {
    flex-grow: 1;
    max-width: 200px;
    height: 7vh;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    width: 500px;
}

.formstyle {
    background: white;
    box-shadow: 0px 2px 6px grey;
    position: relative;
    padding: 2vh var(--mainpadding)
}

.main > h2, .main > p {padding-left: var(--mainpadding)}

button {
    margin: 24px var(--mainpadding);
    height: 5vh;
    width: 20vw;
    border-radius: 10px;
    color: white;
    background: #596D48;
    border: none;
    box-shadow: 1px 1px 5px grey;
    font-size: 14px;
}

p.sign-in {margin: 0px 0px 20px 0px;}


button:active {
    transform: scale(.95)
}

input.entered:invalid {
    transition: border 1s ease;
    border: 2px solid red;
}

input.entered:valid {
    transition: border 0.5s ease;
    border: 2px solid #228B22;
}


input[type='password'].no {
    border: 2px solid red;
}

input[type='password'].yes {
    border: 2px solid #228B22;
}

h2 {
    font-size: 1.7em;
}

form > div > div > div > p {
    color: red;
    font-size: .75rem;
    margin: -1vh 0px;
    padding: 0px;
    visibility:hidden;
}

